.text {
  font-size: 14px;
  margin-bottom: 16px;
}

.checkBox {
  p {
    font-size: 14px;
  }
}

.bold {
  color: #D9001B;
}

a.link {
  text-decoration: underline 1px solid #89C2E5;
  color: #002C47;
}