.fields {
  margin-bottom: 20px;
  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .fieldsSection {
    gap: 18%;
    .leftSideRow, .rightSideRow {
      flex-direction: column;
      gap: 20px;
    }
    .fieldElem {
      gap: 5px;
      flex-direction: column;
      .checkRow {
        row-gap: 10px;
        column-gap: 20px;
        max-width: 450px;
      }
    }
  }
}

div.dateSection {
  gap: 10%;
  .dateElem {
    flex-direction: column;
    gap: 5px;
  }
}
