div.mainSection {
  gap: 30px;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 0 15px;
  border-bottom: 1px solid #e1e1e1;
  .ticketsRow {
    align-items: center;
  }
  .commerceRow {
    gap: 30px;
    align-items: end;
  }
  .priceRow {
    gap: 10px;
    align-items: end;
    p {
      margin-bottom: 10px;
    }
  }
}