.inputWrapper {
	display: flex;
	align-items: center;
	column-gap: 10px;
	width: 100%;
}

.tooltip {
	margin-top: 10px;
}

.tooltip_type {
	margin-top: -15px;
}

.tooltip_teg {
	margin-top: 27px;
}

.typeLevelWrapper {
	width: 100%;
}

.selectWrap {
  max-width: 830px;
}

div.selectRow {
  gap: 20px;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1050px;
}
