.searchRow {
  grid-template-columns: 
  minmax(250px, 326px)
  minmax(250px, 326px)
  minmax(250px, 326px)
  minmax(160px, 160px)
  minmax(160px, 160px)
  minmax(160px, 160px);
  @media (max-width: 1440px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.newsTable {
  grid-template-columns:
  minmax(90px, 90px)
  minmax(250px, 250px)
  minmax(160px, 160px)
  minmax(110px, 110px)
  minmax(170px, 170px)
  minmax(280px, 280px)
  minmax(230px, 230px)
  minmax(140px, 140px)
  minmax(140px, 1fr);
  .checkBoxWrapperNews {
    margin: 14px auto auto 25px;
  }
}

.titleNewsTable {
  margin-left: 15px;
}

.center {
  margin-left: 15px;
}

.date {
  display: flex;
  gap: 14px;
}

.flexEnd {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.eventNewsContainer {
  position: relative;
  min-height: 620px;
}
