@import 'src/assets/styles/vars';

.adminSection {
	background: #ffffff;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(1, 61, 86, 0.15);

	h4 {
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	.sectionHead {
		display: flex;
		gap: 20px;
		justify-content: space-between;

		@media (max-width: 1024px) {
			flex-direction: column;
		}

		h2 {
			@include opensans-bold;
			font-size: 18px;
			color: #000000;
		}

		.singleTitle {
			border-bottom: 1px solid #e1e1e1;
			padding-bottom: 15px;
			margin-bottom: 20px;
			width: 100%;
		}
	}
}

.fullAdminSection {
	background: #ffffff;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 20px 0;
	box-shadow: 0 0 5px 0 rgba(1, 61, 86, 0.15);

	h4 {
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	.sectionHead {
		display: flex;
		gap: 10px;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 15px;
		margin-bottom: 20px;

		h2 {
			@include opensans-bold;
			font-size: 18px;
			color: #000000;
		}

		.closeBtn {
			padding: 0 20px;
			cursor: pointer;
		}

		.titleSectionRow {
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: space-between;
			gap: 10px;
			padding: 0 20px;
			.singleTitle {
				width: 100%;
				font-size: 24px;
			}
		}
	}
	.innerClass {
		padding: 0 20px;
	}
}

.switchedContentWrapper {
	padding-left: 27px;

	@media (max-width: 768px) {
		padding-left: 0;
	}
}

._noBlock {
	padding: 0;
	border-radius: 0;
	box-shadow: none;
}

.noBorderBottom {
	&.singleTitle {
		border-bottom: none;
		padding-bottom: 0;
	}
}

._activeSection {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 15px;
	margin-bottom: 27px;
}

